<app-header></app-header>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group float-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active">Check Out</li>
                </ol>
            </div>
            <h4 class="page-title">Check Out</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <div class="card-box">
          <h4 class="header-title">Form Check Out</h4>
          <div class="text-center mt-4 mb-4">
            <div class="row">
              <div class="col-sm-12">
                <form name="formCheckin" class="form-horizontal" role="form">
                  <div class="form-group row">
                    <label class="col-3 col-form-label">Plat Nomor</label>
                    <div class="col-5">
                      <input name="plat_number" type="text" class="form-control" [(ngModel)]="plat_number"/>
                    </div>
                    <div class="col-2">
                      <button class="btn btn-primary" type="button" (click)="onCheckOut()"> <i class="fa fa-check"></i></button>
                    </div>
                    <div class="col-2" [hidden]="resp.success == false">
                      <button class="btn btn-primary" type="button" (click)="print()"> <i class="fa fa-print"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12" id="printTiket" [hidden]="resp.success == false">
                <div class="card-box">
                  <div class="text-center"><h4 class="header-title">APLIKASI PARKIR</h4></div>
                  <hr/>
                  <table class="table">
                    <tbody>
                        <tr>
                            <th class="text-left">Nomor Plat</th>
                            <td class="text-left">{{resp.data.plat_number}}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Jenis Kendaraan</th>
                            <td class="text-left">{{resp.data.vehicle}}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Check In</th>
                            <td class="text-left">{{resp.data.checked_in|date:'dd-MMM-yyyy HH:mm:ss'}}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Check Out</th>
                            <td class="text-left">{{resp.data.checked_out|date:'dd-MMM-yyyy HH:mm:ss'}}</td>
                        </tr>
                        <tr>
                            <th class="text-left">Tarif</th>
                            <td class="text-left">Rp {{resp.data.amount|number}}</td>
                        </tr>
                    </tbody>
                  </table>
                  <hr/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-8">
        <div class="card-box">
          <h4 class="header-title">Data Check Out</h4>
          <form class="form-horizontal" role="form">
            <div class="form-group row">
              <div class="col-2"><input name="vehicle_id" type="radio" value="1" [(ngModel)]="crit.vehicle_id"/> Mobil </div>
              <div class="col-2"><input name="vehicle_id" type="radio" value="2" [(ngModel)]="crit.vehicle_id"/> Motor </div>
              <div class="col-2"><input name="date" type="text" class="form-control" [(ngModel)]="crit.date" id="tanggal" #ddate/></div>
              <div class="col-2"><button type="button" class="btn btn-primary" (click)="getCheckOut(page)"><i class="icon-magnifier"></i> Search</button></div>
            </div>
          </form>
          <div class="alert alert-info" *ngIf="rows.length == 0">Data belum ada.</div>
          <div class="table-responsive" *ngIf="rows.length > 0">
            <table class="table table-hover table-centered m-0">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nomor Plat</th>
                  <th>Jenis </th>
                  <th>Check In</th>
                  <th>Check Out</th>
                  <th>Tarif</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of rows; index as i">
                  <td>{{i+1}}</td>
                  <td>{{c.plat_number}}</td>
                  <td>{{c.vehicle}}</td>
                  <td>{{c.checked_in|date:'dd-MMM-yyyy HH:mm:ss'}}</td>
                  <td>{{c.checked_out|date:'dd-MMM-yyyy HH:mm:ss'}}</td>
                  <td>Rp {{c.amount|number}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
