<app-header></app-header>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group float-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active">Check Out</li>
                </ol>
            </div>
            <h4 class="page-title">Check Out</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="card-box">
          <h4 class="header-title">Form Check Out (On Progress)</h4>
          <div class="text-center mt-4 mb-4">
            <div class="row">
              <div class="col-sm-12">
                <form name="formCheckin" class="form-horizontal" role="form">
                  <div class="form-group row">
                    <label class="col-3 col-form-label">Plat Nomor</label>
                    <div class="col-6">
                      <input name="plat_number" type="text" class="form-control"/>
                    </div>
                    <div class="col-3">
                      <button class="btn btn-primary" type="button"> <i class="fa fa-check"></i> Check Out</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
