<app-header></app-header>
<div class="wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group float-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item">Home</li>
                    <li class="breadcrumb-item active">Tambah Tarif</li>
                </ol>
            </div>
            <h4 class="page-title">Tambah Tarif</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
